<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/css/inicio.css" />
    <link rel="stylesheet" href="/frontend/css/historia.css" />
    <link
      rel="shortcut icon"
      href="/frontend/images/painel-solar-favicon.png"
      type="image/x-icon"
    />
    <title>Real Solar</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-logo" href="/frontend/components/inicio.html"
          ><img
            src="/frontend/images/LOGO.png"
            alt=""
            srcset=""
            class="logoReal"
        /></a>
        <div class="navbar-opcoes">
          <a  href="/frontend/components/inicio.html"><h2>Início</h2></a>
          <a href="/frontend/components/servicos.html"><h2>Serviços</h2></a>
          <a href="/frontend/components/historia.html"><h2>Nossa História</h2></a>
        </div>
        </div>
      </div>
    </nav>

    <div id="carouselExampleDark" class="carousel carousel-white slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="/frontend/images/paginaInicio/Carousel/1.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="/frontend/images/paginaInicio/Carousel/2.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/frontend/images/paginaInicio/Carousel//3.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <div class="nossosProdutos container-fluid">
      <h1 class="titleProdutos">Sobre os Nossos Produtos:</h1>
      <div class="cardProd1">
        <div class="card mb-4" style="max-width: 920px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="/frontend/images/paginaInicio/Cards/solar_panel_3d_render_69.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  Nossos Painéis Solares: Qualidade e Alta Performance
                </h5>
                <br />
                <p class="card-text">
                  Na Real Solar, utilizamos painéis solares de última geração
                  com células fotovoltaicas de alta eficiência, garantindo maior
                  captação de energia e rendimento superior. Nossos produtos
                  contam com tecnologia PERC (Passivated Emitter Rear Cell), que
                  maximiza a produção mesmo em condições de baixa luminosidade.
                  Com estrutura resistente a intempéries e certificação
                  internacional IEC 61215, nossos painéis são projetados para
                  oferecer durabilidade e confiabilidade, garantindo energia
                  limpa e economia por décadas.
                </p>
                <p class="card-text">
                  Além disso, nossos módulos possuem baixa taxa de degradação anual, o que significa que você continuará gerando energia com alta eficiência ao longo de sua vida útil. Com fácil instalação e manutenção mínima, você pode confiar na Real Solar para uma solução sustentável e de alta performance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cardProd2">
        <div class="card mb-4" style="max-width: 920px">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  Tecnologia Avançada em Cada Painel Solar
                </h5>
                <br />
                <p class="card-text">
                  Os painéis solares da Real Solar são desenvolvidos com a mais
                  avançada tecnologia Monocristalina, oferecendo eficiência
                  superior de conversão de energia. Equipados com vidros
                  temperados de alta transparência e revestimento anti-reflexo,
                  garantem maior absorção de luz solar e proteção contra
                  condições adversas. Nossos módulos possuem classificação IP68
                  para resistência à água e poeira, além de suporte a altas
                  cargas de vento e neve, assegurando performance excepcional e
                  longa durabilidade.
                </p>
                <p class="card-text">
                  Com um design compacto e elegante, nossos painéis otimizam o espaço disponível, entregando máxima geração de energia por metro quadrado. Além disso, possuem garantia estendida de eficiência e durabilidade, assegurando que você colha os benefícios da energia solar por muitos anos, com o mínimo impacto ambiental.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <img
                src="/frontend/images/paginaInicio/Cards/solar_panel_3d_render_70.jpg"
                class="img-fluid"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="footerPages container-fluid">
      <div class="entreContato">
      <h5>Real Solar | Energia Sustentável para um Futuro Melhor</h5>
      <p><strong>Entre em contato</strong><br>
        📞 Telefone: (66) 9905-6290 <br>
        📧 E-mail: contato@realsolar.com.br
        </p>
      </div>
        <div class="redesSociais">
        <h6>Redes sociais <br>
        <strong>Siga-nos:</strong></h6>
      <div class="iconsSocial">
        <a href="https://www.instagram.com/realsolarmt/?hl=en"target="_blank"rel="external">
          <img
            src="/frontend/images/footer/facebook.png"
            alt=""
            class="iconeRede"
          />
          <img
            src="/frontend/images/footer/instagram.png"
            alt="Imagem do instagram"
            srcset=""
            class="iconeRede"
          />
        </a>
        <img
          src="/frontend/images/footer/linkedin.png"
          alt=""
          srcset=""
          class="iconeRede"
        />
        <a href="https://api.whatsapp.com/message/FJG2YK3F2X47B1?autoload=1&app_absent=0" target="_blank"rel="external">
          <img
            src="/frontend/images/footer/whatsapp.png"
            alt=""
            srcset=""
            class="iconeRede"
          />
        </a>
      </div>
      <br>
      <p>© 2024 Real Solar. Todos os direitos reservados.</p>
    </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
