<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/css/inicio.css" />
    <link rel="stylesheet" href="/frontend/css/servicos.css" />
    <link rel="stylesheet" href="/frontend/css/registro.css">
    <link
      rel="shortcut icon"
      href="/frontend/images/painel-solar-favicon.png"
      type="image/x-icon"
    />
    <title>Real Solar</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-logo" href="/frontend/components/inicio.html"
          ><img
            src="/frontend/images/LOGO.png"
            alt=""
            srcset=""
            class="logoReal"
        /></a>
        <div class="navbar-opcoes">
          <a  href="/frontend/components/inicio.html"><h2>Início</h2></a>
          <a href="/frontend/components/servicos.html"><h2>Serviços</h2></a>
          <a href="/frontend/components/historia.html"><h2>Nossa História</h2></a>
        </div>
        </div>
      </div>
    </nav>
    <br><br>
<div class="pagServicos container-fluid">
  <h1>CONHEÇA OS NOSSOS SERVIÇOS</h1>
 <br><br>
 <p>INSTALAÇÕES E MANUTENÇÕES</p>

 <div class="listaServicos">
  <div class="servico1">
    <a href="#orcamentoPage">
      <img src="/frontend/images/servicos/Wavy_Eco-01_Single-04.jpg" alt="" class="imagemServico">
  <h5>INSTALAÇÃO PLACA SOLAR 2M</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aperiam eligendi dolor quisquam ipsa voluptates perspiciatis aliquid suscipit, quia illum ipsum dolorum iste a culpa! Dignissimos quisquam voluptatibus id at!</p>
    </a>
</div>
<div class="servico2">
  <a href="#orcamentoPage">
  <img src="/frontend/images/servicos/Wavy_Eco-01_Single-04.jpg" alt="" class="imagemServico">
  <h5>INSTALAÇÃO PLACA SOLAR 10M</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aperiam eligendi dolor quisquam ipsa voluptates perspiciatis aliquid suscipit, quia illum ipsum dolorum iste a culpa! Dignissimos quisquam voluptatibus id at!</p>
</a>
</div>
<div class="servico3">
  <a href="#orcamentoPage">
  <img src="/frontend/images/servicos/Wavy_Eco-01_Single-04.jpg" alt="" class="imagemServico">
  <h5>INSTALAÇÃO PLACA SOLAR 20M</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aperiam eligendi dolor quisquam ipsa voluptates perspiciatis aliquid suscipit, quia illum ipsum dolorum iste a culpa! Dignissimos quisquam voluptatibus id at!</p>
</a>
</div>
<div class="servico4">
  <a href="#orcamentoPage">
  <img src="/frontend/images/servicos/Wavy_Eco-01_Single-04.jpg" alt="" class="imagemServico">
  <h5>INSTALAÇÃO PLACA SOLAR 100M</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aperiam eligendi dolor quisquam ipsa voluptates perspiciatis aliquid suscipit, quia illum ipsum dolorum iste a culpa! Dignissimos quisquam voluptatibus id at!</p>
</a>
</div>
<div class="servico5">
  <a href="#orcamentoPage">
  <img src="/frontend/images/servicos/Wavy_Eco-01_Single-04.jpg" alt="" class="imagemServico">
  <h5>INSTALAÇÃO PLACA SOLAR 15M</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aperiam eligendi dolor quisquam ipsa voluptates perspiciatis aliquid suscipit, quia illum ipsum dolorum iste a culpa! Dignissimos quisquam voluptatibus id at!</p>
</a>
</div>
<div class="servico6">
  <a href="#orcamentoPage"> 
  <img src="/frontend/images/servicos/Wavy_Eco-01_Single-04.jpg" alt="" class="imagemServico">
  <h5>MANUTENÇÃO DE PLACA SOLARES</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt aperiam eligendi dolor quisquam ipsa voluptates perspiciatis aliquid suscipit, quia illum ipsum dolorum iste a culpa! Dignissimos quisquam voluptatibus id at!</p>
</a>
</div>
 </div>
</div>
<div class="containerOrc" id="orcamentoPage">
<div class="orcamentoReal">
  <h1 style=" text-shadow: 5px 7px 10px rgb(0, 0, 0);">SOLICITE O SEU ORÇAMENTO NA <STRONG>REAL SOLAR</STRONG></h1><br>
  <h3 style=" text-shadow: 5px 7px 10px rgb(0, 0, 0);"> CONFIRA E COMECE A ECONOMIZAR ENERGIA DESDE JÁ!</h3>
  <br>
    <button type="button" class="btn btn-success" onclick="showModal()">SOLICITAR ORÇAMENTO</button>
    <div class="modal" id="modal">
      <div class="modal-content">
          <span class="close-button" onclick="closeModal()">
              &times;
          </span>
          <form>
            <br><br>
            <div class="registroForm">
            <div class="mb-3">
              <h6 style="color: black;">FAÇA O SEU CADASTRO</h6>
              <br>
              <label for="InputEmail1" class="form-label" style="color: black;">Endereço de E-mail:</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="InputName1" class="form-label" style="color: black;">Nome Completo:</label>
                <input type="name" class="form-control" id="InputName1" aria-describedby="nameHelp">
              </div>
            </div>
            <div class="mb-3">
                <label for="InputNumber1" class="form-label" style="color: black;">Telefone:</label>
                <input type="tel" class="form-control" id="InputNumber1" aria-describedby="numberHelp">
              </div>
              <button type="button" class="btn btn-outline-warning" >REGISTRAR</button>
            </div>
            </form>
            </div>
    </div>
  
    <div class="bancobv">
    <h4 style=" text-shadow: 5px 7px 10px rgb(0, 0, 0);">TAMBÉM OFERECEMOS A OPÇÃO DE SIMULAÇÃO DE ORÇAMENTO COM O <i>Banco BV</i>.</h4>
    <br>
    <a href="https://www.bv.com.br/emprestimos/emprestimo-pessoal" target="_blank">
    <button type="button" class="btn btn-warning">SIMULAR ORÇAMENTO</button> </a>
    <br>
    <br>
    <h6 style="text-shadow: 8px 10px 10px rgb(0, 0, 0);">Real Solar: Inovação e praticidade para facilitar o seu dia a dia com soluções inteligentes e sustentáveis</h6>
  </div>
  </div>
  </div>
<hr>
    <div class="footerPages container-fluid">
      <div class="entreContato">
      <h5>Real Solar | Energia Sustentável para um Futuro Melhor</h5>
      <p><strong>Entre em contato</strong><br>
        📞 Telefone: (66) 9905-6290 <br>
        📧 E-mail: contato@realsolar.com.br
        </p>
      </div>
        <div class="redesSociais">
        <h6>Redes sociais <br>
        <strong>Siga-nos:</strong></h6>
      <div class="iconsSocial">
        <a href="https://www.instagram.com/realsolarmt/?hl=en"target="_blank"rel="external">
          <img
            src="/frontend/images/footer/facebook.png"
            alt=""
            class="iconeRede"
          />
          <img
            src="/frontend/images/footer/instagram.png"
            alt="Imagem do instagram"
            srcset=""
            class="iconeRede"
          />
        </a>
        <img
          src="/frontend/images/footer/linkedin.png"
          alt=""
          srcset=""
          class="iconeRede"
        />
        <a href="https://api.whatsapp.com/message/FJG2YK3F2X47B1?autoload=1&app_absent=0" target="_blank"rel="external">
          <img
            src="/frontend/images/footer/whatsapp.png"
            alt=""
            srcset=""
            class="iconeRede"
          />
        </a>
      </div>
      <br>
      <p>© 2024 Real Solar. Todos os direitos reservados.</p>
    </div>
    </div>
    <script src="/http.js"></script>
    <script src="/frontend/javascript/modal.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
